:root {
    --link: #BCBDDC;
}
  
body {
  letter-spacing: 0.1em;
  margin: 6px;
  font-size: 18px;
}

/* Main site title is in the nav, so h1 used for good semantics, but needs to be smaller */
h1 {
  font-size: 1.7em;
}

/* Large title at top of page to emphasise quantity of moves  */
h2 {
  font-size: 4em;
}

.mobile {
  display: none;
}

#sidebar {
  height: 97vh;
  width: 16vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disables horizontal scroll */
  background-color: #868e96;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  margin: 1vh;
  padding: 1vh; 
}

.my-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 1.2em;
}

.title {
  color: #000;
  text-decoration: none;
}

.my-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.title:hover, .my-link:hover, .inline-link:hover {
  color: var(--link);
  text-decoration: none;
}

.chart-reset {
  letter-spacing: 0.2em;
  background-color: var(--link);
  margin: 10vh 0 0 1.5vw ;
  border: 1px solid black;
}

/*large left margin to accomodate sidenav*/
main {
  margin-left: 18vw;
  margin-right: 2vw;
}

.jumbotron {
  padding: 2rem 1rem;
}

.quote {
  font-size: 1.3em;
  font-style: italic;
}

.intro-btn {
  background-color: var(--link);
}

.card {
  flex-grow: 1;
}

.card-header {
  background-color: transparent;
}

.charts {
  margin: 0 auto 0 auto;
}

.charts text {  /* user testing indicated body font was not clear enough on charts */
  font-family: "Muli", Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

#per-country-piechart1 {
  width: 15vw;
  display: block;
  margin-top: 10vh;
  margin-left: 1.5vw;
}

#regional, #lifestyles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#the-map {
  max-width: 60vw;
  margin: 0 auto 0 auto;
}

div.map {
  min-height: 85vh;
  margin-bottom: 40px;
}

@media (max-width: 1555px) {
  #per-country-piechart1 {
    margin-left: 0vw;
  }
}
  
/*move nav from sidebar position to top on small devices*/
@media (max-width: 1370px) {
  main {
    margin: 220px auto 0 auto;
  }

  .desktop {
    display: none;
  }
  
  .white {
    display: block;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disables horizontal scroll */
  }
  
  .mobile {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 200px;
    width: 99vw;
    background-color: #868e96;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    margin: 1vh;
    padding: 1vh; 
  }
  
  .centre-title {
    text-align: center;
  }
  
  .centre-title p {
    font-style: italic;
    font-size: 0.9em;
  }
  
  .my-link {
    display: block;
    padding: 0.1rem 1rem;
  }
  
  .chart-reset {
    margin: 1em 0 0 1em;
  }
  
  .intro-btn {
    display: none;
  }
}

@media (max-width: 1100px) {
  #the-map {
    max-width: 85vw;
    margin: 0 auto 0 auto;
  }

  div.map {
    height: 85vh;
    margin-bottom: 40px;
  }
}