body {
  letter-spacing: 0.1em;
  margin: 6px;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-weight: bolder;
  font-variant: small-caps
}

h1 {
  font-size: 1.7em;
}

#sidebar {
  height: 97vh;
  width: 17vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disables horizontal scroll */

  background-color: #868e96;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  margin: 1vh;
  padding: 1vh; 
}

.title {
  color: #000;
  text-decoration: none;
}

.title:hover {
  color: #20c997;
  text-decoration: none;
}

.quote {
  font-style: italic;
}

.charts text {
  font-family: "Muli", Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.my-nav {
  display: flex;
  /*-webkit-box-orient: vertical;*/
  /*-webkit-box-direction: normal;*/
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color: #fff;
  font-size: 1.2em;
}

.my-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

.my-link:hover {
  color: #20c997;
  text-decoration: none;
}

#content {
  margin-left: 20vw;
  margin-right: 2vw;
}

.quote {
  font-size: 1.3em;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 0 1rem;
}

.card-header {
  background-color: transparent;
}

.hint {
  font-size: 0.7em;
  font-style: italic;
}

#per-country-piechart > svg {
  width: 15vw;
  display: block;
  margin-top: 10vh;
}

div.map {
  min-height: 85vh;
  margin-bottom: 40px;
}