body {
  letter-spacing: 0.1em;
  margin: 6px;
  font-size: 18px;
}

/*large left margin to accomodate sidenav*/
main {
  margin-left: 18vw;
  margin-right: 2vw;
  display: grid;
  grid-template-areas: 
    "welcome welcome welcome welcome welcome welcome"
    "region1 region1 region2 region2 region3 region3"
    "lifestyle1 lifestyle1 lifestyle1 lifestyle2 lifestyle2 lifestyle2"
    ". map map map map .";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#welcome {
  grid-area: welcome;
}

#regional-chart-1 {
  grid-area: region1;
}

#regional-chart-2 {
  grid-area: region2;
}

#regional-chart-3 {
  grid-area: region3;
}

#lifestyle-chart-1 {
  grid-area: lifestyle1;
}

#lifestyle-chart-2 {
  grid-area: lifestyle2;
}

#the-map {
  grid-area: map;
}

/* Main site title is in the nav, so h1 used for good semantics, but needs to be smaller */
h1 {
  font-size: 1.7em;
}

/* Large title at top of page to emphasise quantity of moves  */
h2 {
  font-size: 4em;
}

#sidebar {
  height: 97vh;
  width: 16vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disables horizontal scroll */
  background-color: #868e96;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  margin: 1vh;
  padding: 1vh; 
}

.title {
  color: #000;
  text-decoration: none;
}

.quote {
  font-style: italic;
}

/* user testing indicated body font was not clear enough on charts */
.charts text {
  font-family: "Muli", Arial, sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.my-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  color: #fff;
  font-size: 1.2em;
}

.my-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

.title:hover, .my-link:hover {
  color: #20c997;
  text-decoration: none;
}

.quote {
  font-size: 1.3em;
}

.jumbotron {
  padding: 2rem 1rem;
}

.card-header {
  background-color: transparent;
}

#per-country-piechart > svg {
  width: 15vw;
  display: block;
  margin-top: 10vh;
}

div.map {
  min-height: 85vh;
  margin-bottom: 40px;
}